// colors
$color-primary: #d5a06fb3;
$color-secondary: #28b49db3;
$color-secondary-dark: #206156b3;
$color-primary-dark: #c56912b3;
$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e7e7e7;
$color-white: #fff;
$color-black: #000;

// card colors
// $card-color-primary: #b700ffe5;
$card-color-primary: rgba(183, 0, 255, 0.898);
// $card-color-primary-alt: #d571fde5;
$card-color-primary-alt: rgba(213, 113, 253, 0.898);
$card-color-secondary: #2998ff;
$card-color-secondary-alt: #5643fa;
$card-color-tertiary: #ffb900;
$card-color-tertiary-alt: #ff7730;

// form colors
$form-color-dark: #999;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// fonts
$default-font-size: 1.6rem;
